body
{
	background-color: DarkSeaGreen;
}
th
{
	border-style: solid;
}
td
{
	border-style: solid;
}
p
{
    color: white;
	font-family: "Times New Roman", Times, Serif;
	font-size: 16px;
}
.n
{
	  border: 1px solid black;
  margin: 25px 50px 75px;
  background-color: lightblue;
}
	
}
